<h1>User Show Page</h1>

<label>Username:</label><br>
<%=@user.user_name%><br><br>

<label>Age:</label><br>
<%=@user.age%><br><br>

<label>Your Current Balance:</label><br>
<%='$'%><%=@user.balance%><br><br>

<label> Update your information: </label><br>
<%=link_to @user.user_name, edit_user_path(@user) %><br><br>

<%=button_to "Delete", @user, method: :delete %>