<h1>User Show Page</h1> 

<label>Username:</label><br>
<%=@user.user_name%><br><br>

<label>Age:</label><br>
<%=@user.age%><br><br>

<label>Your Current Balance:</label><br>
<%='$'%><%=@user.balance%><br><br>


<label> Let's Buy some Crypto: </label><br>
<%=link_to "Let's Do it!", new_user_currency_path %><br><br>


<label> Update Your Profile: </label><br>
<%=link_to "Update", edit_user_path(@user) %><br><br>

<%=button_to "Delete", @user, method: :delete %><br>


<table>
  <caption>Your Cryptos:</caption>
  <thead>
    <tr>
      <th scope="col" colspan="2"> Crypto:</th>
      <th scope="col">Units:</th>
      <th scope="col">Values in USD:</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%@user.total_owned_cryptos.each do |crypto, values|%>
            <%= " #{crypto}"%><br> 
                <%end%></td>

      <td><%@user.total_owned_cryptos.each do |crypto, values|%>
            <%="#{values[:amount]}"%><br> 
                <%end%></td>

        <td><%@user.total_owned_cryptos.each do |crypto, values|%>
            <%= "$#{values[:price] * values[:amount]}"%><br> 
                <%end%></td>
    </tr>
  </tbody>
</table><br><br>




<table>
  <caption>Your Past Transactions:</caption>
  <thead>
    <tr>
      <th scope="col" colspan="2"> Crypto:</th>
      <th scope="col">Units:</th>
      <th scope="col">Values in USD:</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><% @user.currencies.each do |currency|%>
           <%= currency.crypto%><br>

                <%end%></td>

      <td> <% @user.user_currencies.map do |user_currency|%>
              <%= user_currency.amount%><br>
                    <%end%></td>

                    <td> <% @user.user_currencies.map do |user_currency|%>
              <%='$'%><%= user_currency.amount * user_currency.currency.price %><br>
                    <%end%></td>
    </tr>
  </tbody>
</table>

              