<h1>Transaction Page </h1>


<h1> Buy/Sell Crypto: </h1>
<%=form_for @user_currency do |f|%>
<p> Negative numbers sell / Positive numbers buy </p>
<%=f.label "Units "%>
<%=f.number_field :amount%>

<%=f.label "User"%>
<%=f.collection_select :user_id, @users, :id, :user_name %> 


<%=f.label "Crypto Currency"%>
<%=f.collection_select :currency_id, @currencies, :id, :crypto %>

<%=f.submit "Make a Trade"%>
<%end%><br><br>
