<h1>Your Transaction</h1>


<label>Crypto:</label><br>
<%=@user_currency.currency.crypto %><br><br>

<label>Symbol:</label><br>
<%=@user_currency.currency.symbol %><br><br>

<label>Units You've Purchased: </label><br>
<%=@user_currency.amount%><br><br>

<label>Price:</label><br>
<%='$'%><%=@user_currency.currency.price %><br><br>

<label>Sub Total:</label><br>
<%='$'%><%= @user_currency.crypto_total %><br><br>

<label>Taxes:</label><br>
<%='$'%><%= @user_currency.taxes %><br><br>

<label>Grand Total:</label><br>
<%='$'%><%= @user_currency.grand_total %><br><br>

<label>Remaining Balance:</label><br>
<%='$'%><%= @user_currency.user.balance  %><br><br>


<label> Let's Buy some Crypto: </label><br>
<%=link_to "Let's Do It!", new_user_currency_path %><br><br>
